.main-wraper{
    margin: 0px auto;
    max-width: 1000px;
    font-family: sans-serif;
}
.main-wraper .header{
    padding: 20px 10px;
}
.main-wraper .header a{
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 50px;
}
.main-wraper .header a.logo{
    font-size: 30px;
    font-weight: bold;
}

.main-wraper .header .nav{
    float: right;
    color: black;
}
.main-wraper banner img{
    width: 100%;
}
body {font-family: Arial;text-align=center;}
/* Full-width input fields */
input[type=text] , input[type=date]
{
  width: 80%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #ffffff;
}

/* Set a style for all buttons */
button 
{
  background-color: #83aa04;
  color: black;
  padding: 14px 16px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: .8;
}
button:hover {opacity:1;}
/* Add padding to container elements */
.container {padding: 16px;}
#sel{
    width: 80%;
    height: 40px;
    padding: 10px;
}

/*700px width for example*/

#sel option {
    width: 60%; /*default would be inherit*/
    height: 60px; /*just changed for example*/ 
